* {
    margin: 0;
    padding: 0;
}

body {
    font-family:"press start 2p"
}

#calculadora {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
}
#visor {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;    
}
#valorActual {
    font-size: 1.5em;    
}
#valorAnterior {
    font-size: 2em;    
}
.numero {
    margin-top: 20px !important;
}
.borrar {
    margin-top: 20px !important;
    width: 80px !important;
}
.nes-btn {
    width: 80px;
    height: 80px;
}
.operador {
    width: 48px;
    margin-top: 20px !important;
}
#porcentaje {
    margin-top: 20px;
}

.igual {
    margin-top: 16px !important;
    width: 120px !important;
}

.borrarTodo{
    margin-top: 20px !important;
    width: 120px !important;
}
